html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Garamond;
}

a {
  color:black ;
}

header {
  padding: 10px;
  background:grey ;
  color:white ;
  text-align: left;
}

nav {
  width: 200px;
  height: 100%;
  float: left; /* don't modify */
  background-color: ;
  margin-right: 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin-bottom: 10px;
}

section {
  width: 500px;
  float: left; /* don't modify */
  padding: 5px;
}

footer {
  clear: left; /* don't modify */
  padding: 10px;
  background: ;
  text-align: ;
}
